.container{
    margin: 100px;
    display: inline-flex;

    border: 1px solid;
    border-radius: 23px;
    padding: 50px;
}

.p-left{
    border-right: 1px solid;
    padding-right: 20px;
}

.p-right{
    margin-left: 40px;
}

.p-complete{
    text-decoration: line-through;
}

.t-remove{
    float: right;
}